<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Ferramentas</title>
  <meta http-equiv="x-ua-compatible" content="IE=edge;" />
  <base target="_top" />
  <meta content="width=device-width, initial-scale=1" name="viewport" />
  <meta charset="UTF-8">
  <meta name="description" content="" />
  <meta name="keywords" content="" />
  <link rel="stylesheet" href="/css/topBar.css">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/card.css">
  <link rel="stylesheet" href="/css/theme.css">
</head>

<body>

  <header class="body-header" th:include="topBar"></header>

  <nav class="navBar-box">
    <ul>
      <li><a href="#" onclick="loadContent('/home')">Home</a></li>
      <li><a href="#" onclick="loadContent('/user')">User</a></li>
    </ul>
  </nav>

  <main class="body-content">

    <div id="card-box" class="card-box">

    </div>

  </main>

</body>

<script src="/js/main.js"></script>

</html>